@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:wght@300;400;500;700&display=swap');

body{
  font: 18px "Nunito", sans-serif;
  color:black;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before{
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  /*background: url("../../../assets/bg3.jpg") no-repeat center;*/
  background-size: cover;
  animation: backgroundZoomAnimate 20s forwards;
}

@keyframes backgroundZoomAnimate {
  from{
      transform: scale(1);
  }
  to{
      transform: scale(1.3);
  }
}

.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  box-shadow: 0 18px 200px -60px black;
  border-radius: 50px;
  width: 650px;
  height: 990px;
  position: relative;
  backdrop-filter: blur(15px);
  border: 2px solid #ffffff40;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;

  @media screen and (max-width: 768px){
      width: auto;
  }
}

.title {
  font-size: 250%;
  font-family: 'Anton', sans-serif;
  color:rgb(41, 39, 39);
  text-align: center;
  text-shadow: 0 3px 5px white ;
  margin-bottom: 20px;
}

.inputContainer {
  position: relative;
  height: 50px;
  width: 100%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  font-family: 'Indie Flower', cursive;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(41, 39, 39);
  border: 1px solid white;
  color: white;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}


.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  font-family: 'Indie Flower', cursive;
  background-color: transparent;
  color: white;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

::placeholder {
  color: transparent;
}

.submitBtn {
  display: block;
  margin-left: auto;
  font-family: 'Anton', sans-serif;
  padding: 15px 30px;
  border: none;
  background-color: #040303;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.submitBtn:hover {
  background-color: #719FB0;
  transform: translateY(-2px);
}

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.input:not(:placeholder-shown)+ .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

.input:focus {
  border: 2px solid #000000;
}

.buttonsOn{
    display: flex;
}

.backLogin{
    display: block;
    margin-right: auto;
    padding: 15px 30px;
    border: none;
    font-family: 'Anton', sans-serif;
    background-color: #040303;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    text-decoration: none;
}

.backLogin:hover {
    background-color: #719FB0;
    transform: translateY(-2px);
  }
