<body>
		<div class="pelicula-principal">
			<div class="contenedor">
				<h3 class="titulo">Interestellar</h3>
				<p class="descripcion">
					Narra las aventuras de un grupo de exploradores que hacen uso de un agujero de gusano recientemente descubierto para superar las limitaciones de los viajes espaciales tripulados y vencer las inmensas distancias que tiene un viaje interestelar.
				</p>
				<button role="button" class="boton"><i class="fas fa-play"></i>Reproducir</button>
				<button role="button" class="boton"><i class="fas fa-info-circle"></i>Más información</button>
			</div>
		</div>

		<div class="peliculas-recomendadas contenedor">
			<div class="contenedor-titulo-controles">
				<h3>Películas Recomendadas</h3>
				<div class="indicadores"></div>
			</div>

			<div class="contenedor-principal">
				<button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

				<div class="contenedor-carousel">
					<div class="carousel">
						<div class="pelicula">
							<a href="#"><img src="../../../assets/1.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/2.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/3.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/4.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/5.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/6.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/7.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/1.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/2.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/3.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/1.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/2.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/3.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/4.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/5.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/6.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/7.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/1.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/2.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/3.png" alt=""></a>
						</div>
						<div class="pelicula">
							<a href="#"><img src="../../../assets/4.png" alt=""></a>
						</div>
					</div>
				</div>

				<button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
			</div>
		</div>
</body>