@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
body {
    font-family: 18px 'Work Sans', sans-serif;
    color: black;
    min-height: 100vh;
    background: url("../../../assets/bg4.png") no-repeat center;
    background-size: cover;
}

.input-small {
    width: 40% !important;
}


/***   Estilos de los botones ***/

.btn-back {
    display: block;
    padding: 15px 30px;
    border: none;
    background-color: #1c93c2;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.btn-back:hover {
    background-color: #00b7ff;
    transform: translateY(-2px);
}

.btn-success {
    display: block;
    padding: 15px 30px;
    border: none;
    background-color: #1cb81c;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.btn-success:hover {
    background-color: #08f52f;
    transform: translateY(-2px);
}