<body class="d-flex justify-content-center align-items-center pb-5">
    <div class="container text-center">
        <span class="fs-1"> {{ titulo | uppercase }}</span>
        <form class="mt-3" [formGroup]="movieForm" (ngSubmit)="createMovie()">

            <div class="d-flex flex-column align-items-center justify-content-center">

                <div class="m-3 input-small">
                    <input type="text" formControlName="movie" class="form-control" placeholder="Pelicula">
                    <div class="text-danger" *ngIf="movieForm.get('movie')?.hasError('required') && movieForm.get('movie')?.touched">
                        <span>El Nombre de la Pelicula <strong>es Obligatorio</strong></span>
                    </div>
                </div>

                <div class="m-3 input-small">
                    <input type="text" formControlName="categoria" class="form-control" placeholder="Categoria">
                    <div class="text-danger" *ngIf="movieForm.get('categoria')?.hasError('required') && movieForm.get('categoria')?.touched">
                        <span>La Categoria <strong>es obligatoria</strong></span>
                    </div>
                </div>

                <div class="m-3 input-small">
                    <input type="text" formControlName="duracion" class="form-control" placeholder="Duracion">
                    <div class="text-danger" *ngIf="movieForm.get('duracion')?.hasError('required') && movieForm.get('duracion')?.touched">
                        <span>La Duración <strong>es Obligatoria</strong></span>
                    </div>
                </div>

                <div class="m-3 input-small">
                    <input type="text" formControlName="director" class="form-control" placeholder="Director">
                    <div class="text-danger" *ngIf="movieForm.get('director')?.hasError('required') && movieForm.get('director')?.touched">
                        <span>El Director <strong>es Obligatorio</strong></span>
                    </div>
                </div>

                <div class="m-3 input-small">
                    <input type="text" formControlName="fecha_lanzamiento" class="form-control" placeholder="Fecha de Lanzamiento">
                    <div class="text-danger" *ngIf="movieForm.get('fecha_lanzamiento')?.hasError('required') && movieForm.get('fecha_lanzamiento')?.touched">
                        <span>La Fecha de Lanzamiento <strong>es Obligatoria</strong></span>
                    </div>
                </div>

                <div class="form-floating m-3 input-small">
                    <textarea class="form-control" placeholder="Descripcion" formControlName="descripcion" id="floatingTextarea" style="height: 100px"></textarea>
                    <label for="floatingTextarea">Descripcion</label>
                    <div class="text-danger" *ngIf="movieForm.get('descripcion')?.hasError('required') && movieForm.get('descripcion')?.touched">
                        <span>La Descripción <strong>es Obligatoria</strong></span>
                    </div>
                </div>

                <div class="form-floating m-3 input-small">
                    <textarea class="form-control" placeholder="Elenco" formControlName="elenco" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Elenco</label>
                    <div class="text-danger" *ngIf="movieForm.get('elenco')?.hasError('required') && movieForm.get('elenco')?.touched">
                        <span>El Elenco <strong>es Obligatorio</strong></span>
                    </div>
                </div>

                <div class="m-3 input-small">
                    <input type="text" formControlName="imagen" class="form-control" placeholder="Imagen">
                    <div class="text-danger" *ngIf="movieForm.get('imagen')?.hasError('required') && movieForm.get('imagen')?.touched">
                        <span>La Imagen <strong>es Obligatoria</strong></span>
                    </div>
                </div>

            </div>

            <div class="mt-5 d-flex flex-row align-items-center justify-content-evenly">
                <button routerLink="/home" class="btn-back">REGRESAR</button>
                <button type="submit" [disabled]="movieForm.invalid" class="btn-success">ACEPTAR</button>
            </div>

        </form>
    </div>
</body>