@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:wght@300;400;500;700&display=swap');

body{
    font: 18px "Nunito", sans-serif;
    color:black;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body::before{
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;
    background: url("../../../assets/bg2.jpg") no-repeat center;
    background-size: cover;
    animation: backgroundZoomAnimate 20s forwards;
}

.card-medium {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
    background: white;
    margin-bottom: 50px;
  }

  .card-full {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
    background: white;
  }

  .title-medium {
    font-size: 250%;
    font-family: 'Anton', sans-serif;
    color:rgb(9, 90, 240);
    text-align: center;
    text-shadow: 0 3px 5px white ;
    margin-top: -100px;
    margin-left: 430px;
  }

  .title-full {
    font-size: 250%;
    font-family: 'Anton', sans-serif;
    color:rgb(16, 126, 93);
    text-align: center;
    text-shadow: 0 3px 5px white ;
    margin-top: -100px;
    margin-left: 350px;
  }

  .btn-new-products{
    display: block;
    margin-left: 1050px;
    font-family: 'Anton', sans-serif;
    padding: 15px 30px;
    border: none;
    background-color: #740606;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    margin-top: -60px;
  }

  .btn-new-products:hover {
    background-color: #df1b1b;
    transform: translateY(-2px);
  }

  thead th:nth-child(1) {
    width: 40%;
    color: rgb(0, 0, 0);
  }

  thead th:nth-child(2) {
    width: 30%;
    color: rgb(0, 0, 0);
  }

  thead th:nth-child(3) {
    width: 40%;
    color: rgb(0, 0, 0);
  }

  thead th:nth-child(4) {
    width: 40%;
    color: green;
  }

  thead th:nth-child(5) {
    width: 40%;
    color: rgb(0, 0, 0);
  }

  thead th:nth-child(6) {
    width: 40%;
    color: rgb(0, 0, 0);
  }

  thead th:nth-child(7) {
    width: 40%;
    color: rgb(0, 0, 0);
  }

  th, td {
    padding: 30px;
    font-family: 'Anton', sans-serif;
    color: purple;
  }

.fas {
    cursor: pointer;
    margin-left: 7px;
}

.fa-edit {
  color:blue;
}

.fa-trash{
  color:rgb(240, 9, 9);
}
