@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
body {
    font-family: 18px 'Work Sans', sans-serif;
    color: black;
    min-height: 100vh;
    background: url("../../../assets/bg4.png") center;
    background-size: cover;
}

.btn-new-products {
    padding: 15px 30px;
    border: none;
    background-color: #740606;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
}

.btn-new-products:hover {
    background-color: #df1b1b;
    transform: translateY(-2px);
}


/***   Botones editar y borrar    ***/

.fas {
    cursor: pointer;
    margin-left: 7px;
}

.fa-edit {
    color: blue;
}

.fa-trash {
    color: rgb(240, 9, 9);
}